<!DOCTYPE html>
<html>
    <head>
           <title>
              ABOUT
            </title>
            <link rel="icon" href="/img/weather.png">
          <link rel="stylesheet" href="/css/style.css">
             
    </head>
   <body>
       <h1>{{>header}}</h1>
      <p> This site was created by Tapendra Kumar .It uses data from mapbox.com and darksky.net  </p>
       <img src="/img/{{image}}.jpg">
       <p>{{>footer}}</p>
       <p></p>
   </body> 
</html>